@import url(../fonts/PermanentMarker-Regular.css);
@import url(../fonts/RedHatDisplay-Regular.css);
@import url(../fonts/Roboto-Regular.css);

.rob {
    font-family: 'Roboto-Regular', sans-serif;
}
.red {
    font-family: 'RedHatDisplay-Regular', sans-serif;
}
.per {
    font-family: 'PermanentMarker-Regular', sans-serif;
}

.bg-blue {
    background-color: #081158;
}
.bg-beige {
    background-color: #EEF0F4;
}