@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url('PermanentMarker-Regular.woff') format('woff'),
         url('PermanentMarker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }